  :root{

      --vermelho: rgb(210,0,0);
      --vermelhoc: rgb(230,0,0);
      --vermelhoe: rgb(160,0,0);
  
      --azul: rgb(0, 80, 120);
  
      --azulc: rgb(0,120,160);
  
      --verde: rgb(80,215,175);
      --verdec: rgb(100,230,190);
  
      --cinza250: rgb(250,250,250);
  
      --amarelo: rgb(250,250,50);
  
  
  
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
  }
  
  body{
      background-color: var(--cinza250);
      margin: 0;
      font-family: Arial, sans-serif;
      height: 100%;

      flex-direction: column;
      min-height: 100vh;
  }
  
  a{
      text-decoration: none;
  }
  
  .link{
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--azul);
      transition: color 0.5s;
  }
  
  .link:hover{
      color: var(--azulc);
  }
  
  header{    
      height: 5rem;
      background-image: linear-gradient(90deg, var(--vermelhoc), var(--vermelhoe));
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 2%;
      padding-right: 5% ;
  }
  
  header img{
      display: flex;
      flex-direction: row;
      padding: 0;
      align-items: flex-start;
      width: 5rem;
      height: 100%;
  }
  
  header nav{
      display: flex;
      align-items: center;
      gap: 0.5rem;
  }
  
  header nav .topo, header nav .base{
      display: none;
  }
  header nav img{
      width: 2rem;
      height: 2rem;
  }
  
  header a{
      color: white;
      transition: color 0.5s, transform 0.5s;
  }
  
  header a:hover{
      color: var(--amarelo);
      transform: translateY(-0.2rem);
  }
  
  .botaoMenu{
      border: none;
      width: 2rem;
      height: 3rem;
      background-color: transparent;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
  }
  
  .botaoMenu div{
      width: 300%;
      height: 2px;
      background-color: white;
      transition: background 0.5s;
  }
  
  .botaoMenu:hover div{
      background-color: var(--amarelo);
  }
  
  
  
  @media screen and (max-width: 950px){
  
      .botaoMenu{ 
          display: flex;
      }
  
      header nav{
          position: fixed; /* Torna o elemento flutuante */
          flex-direction: column; /* Altero a direção dos filhos */
          align-items: flex-start;
          gap: 0; /* Espaço entre os filhos, zerados */
          top: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(250,250,250);
          padding: 3rem;
          overflow: auto;
          transition: right 0.5s;
      }
  
      .menuFechado{
          right: -100%;
      }
  
      .menuAberto{
          right: 0;
      }
      
      header nav .topo{
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 2rem;
      }
  
      header nav .base{
          display: block;
          margin-top: 2rem;
          color: rgb(128,128,128);
      }
  
      header a{
          color: rgb(128,128,128);
          border-bottom: 1px solid rgb(220,220,220);
          width: 100%;
          padding: 0.5rem 0;
      }
  
      header a:hover{
          color: rgb(0, 80, 120);
          transform: translateX(1rem);
      }
  
      section{
        display: none;
      }
      

  
  
  }
       #carrossel {
      background: linear-gradient(90deg, #40916c, #1b4332);
      color: white;
      padding: 50px 20px;
      text-align: center;
      font-size: 1.8em;
      font-weight: bold;
      border-radius: 2px;
    }
    .gtranslate_wrapper a{
      color: white;
    }

    #conteudo {
       text-align: left;
    padding: 50px 20px;
    }

    #conteudo h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    #conteudo img {
      width: 300px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
      #menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      #menu ul {
        flex-direction: column;
        gap: 10px;
      }

    }
       h2 {
      text-align: center;
      color: #2d6a4f;
    }

    #conteudo {
      max-width: 1200px;
      margin: 0 auto;
    }

    .ong-lista {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;
    }

    .ong-card {
      background: white;
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      flex: 1 1 calc(25% - 20px);
      text-align: center;
      transition: transform 0.3s;
    }

    .ong-card:hover {
      transform: scale(1.03);
    }

    .ong-card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 10px;
    }

    .ong-card p {
      margin-top: 10px;
      font-size: 14px;
    }
    footer {
    background-color: #2d6a4f;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    }

    button {
      margin-top: 20px;
      padding: 12px;
      background-color: #c92323;
      color: white;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
    }

     footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 30px; 
    }

    main {
      flex: 1;
      padding: 20px;
      background-color: #f4f4f4;
    }

    footer {
      background-color: #b12626;
      color: white;
      text-align: center;
      padding: 20px 0;
      font-size: 14px;
    }

    footer a {
      color: #f8f8f8;
      text-decoration: none;
      margin: 0 10px;
    }

     footer a:hover {
      text-decoration: underline;
    }